<div class="memory-palace-create-container">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field formArrayName="rooms" *ngFor="let room of rooms.controls; index as i">
      <input matInput [formControlName]="i">
      <button type="button" mat-button matSuffix matTooltip="Delete room" [matTooltipShowDelay]="500" (click)="deleteRoom(i)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="new room" (keyup)="addRoom($event)">
    </mat-form-field>

  </form>
  <button mat-raised-button matTooltip="Go back" [matTooltipShowDelay]="500" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-raised-button matTooltip="Create memory palace" [matTooltipShowDelay]="500" (click)="create()">
    <mat-icon>create</mat-icon>
  </button>
</div>
