<div class=login-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="signInWithGoogle()">Google</button>
    </mat-card-content>
  </mat-card>
</div>
