<div class="word-create-container">
  <form [formGroup]="form" (ngSubmit)="create()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="translation" placeholder="Translation">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="grammar" placeholder="Grammar">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="story"story placeholder="Story"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="memoryPalace" placeholder="Memory Palace">
        <mat-option *ngFor="let palace of memoryPalaces" [value]="palace">{{palace.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.memoryPalace">
      <mat-select formControlName="memoryPalaceRoom" placeholder="Memory Palace Room">
        <mat-option *ngFor="let room of form.value.memoryPalace.rooms" [value]="room">{{room.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button>Save</button>
  </form>

  <button mat-raised-button (click)="goBack()">Back</button>
  <button mat-raised-button (click)="reset()">Reset</button>
</div>
