<button mat-raised-button routerLink="/create-memory-palace" matTooltip="Create memory palace" [matTooltipShowDelay]="500">
  <mat-icon>add</mat-icon>
</button>

<mat-card class="memory-palace-index-card" *ngFor="let memoryPalace of memoryPalaces" routerLink="/memory-palaces/{{memoryPalace.id}}">
  <mat-card-header>
      <mat-card-title>{{memoryPalace.name}}</mat-card-title>
  </mat-card-header>
</mat-card>
