<button mat-raised-button routerLink="/create-word" matTooltip="Create word" [matTooltipShowDelay]="500">
  <mat-icon>add</mat-icon>
</button>

<mat-card class="words-index-card" *ngFor="let word of words" routerLink="/words/{{word.id}}">
  <mat-card-header>
    <mat-card-title>{{word.name}}</mat-card-title>
    <mat-card-subtitle>{{word.translation}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
